<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.jjq.mapper.JjqFrequencyMapper">
    
    <resultMap type="JjqFrequency" id="JjqFrequencyResult">
        <result property="id"    column="id"    />
        <result property="keyword"    column="keyword"    />
        <result property="num"    column="num"    />
        <result property="times"    column="times"    />
    </resultMap>

    <sql id="selectJjqFrequencyVo">
        select id, keyword, num, times from jjq_frequency
    </sql>

    <select id="selectJjqFrequencyList" parameterType="JjqFrequency" resultMap="JjqFrequencyResult">
        <include refid="selectJjqFrequencyVo"/>
        <where>  
            <if test="keyword != null  and keyword != ''"> and keyword = #{keyword}</if>
            <if test="num != null "> and num = #{num}</if>
            <if test="times != null "> and times = #{times}</if>
        </where>
    </select>
    
    <select id="selectJjqFrequencyById" parameterType="Long" resultMap="JjqFrequencyResult">
        <include refid="selectJjqFrequencyVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertJjqFrequency" parameterType="JjqFrequency" useGeneratedKeys="true" keyProperty="id">
        insert into jjq_frequency
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="keyword != null and keyword != ''">keyword,</if>
            <if test="num != null">num,</if>
            <if test="times != null">times,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="keyword != null and keyword != ''">#{keyword},</if>
            <if test="num != null">#{num},</if>
            <if test="times != null">#{times},</if>
         </trim>
    </insert>

    <update id="updateJjqFrequency" parameterType="JjqFrequency">
        update jjq_frequency
        <trim prefix="SET" suffixOverrides=",">
            <if test="keyword != null and keyword != ''">keyword = #{keyword},</if>
            <if test="num != null">num = #{num},</if>
            <if test="times != null">times = #{times},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteJjqFrequencyById" parameterType="Long">
        delete from jjq_frequency where id = #{id}
    </delete>

    <delete id="deleteJjqFrequencyByIds" parameterType="String">
        delete from jjq_frequency where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>