<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.jjq.mapper.JjqPlantClassificationMapper">
    
    <resultMap type="JjqPlantClassification" id="JjqPlantClassificationResult">
        <result property="questionId"    column="question_id"    />
        <result property="garbageType"    column="garbage_type"    />
        <result property="garbageName"    column="garbage_name"    />
        <result property="analysis"    column="analysis"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectJjqPlantClassificationVo">
        select question_id, garbage_type, garbage_name, analysis, remark from jjq_plant_classification
    </sql>

    <select id="selectJjqPlantClassificationList" parameterType="JjqPlantClassification" resultMap="JjqPlantClassificationResult">
        <include refid="selectJjqPlantClassificationVo"/>
        <where>  
            <if test="garbageType != null "> and garbage_type = #{garbageType}</if>
            <if test="garbageName != null  and garbageName != ''"> and garbage_name like concat('%', #{garbageName}, '%')</if>
        </where>
    </select>
    
    <select id="selectJjqPlantClassificationByQuestionId" parameterType="Long" resultMap="JjqPlantClassificationResult">
        <include refid="selectJjqPlantClassificationVo"/>
        where question_id = #{questionId}
    </select>
        
    <insert id="insertJjqPlantClassification" parameterType="JjqPlantClassification" useGeneratedKeys="true" keyProperty="questionId">
        insert into jjq_plant_classification
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="garbageType != null">garbage_type,</if>
            <if test="garbageName != null">garbage_name,</if>
            <if test="analysis != null">analysis,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="garbageType != null">#{garbageType},</if>
            <if test="garbageName != null">#{garbageName},</if>
            <if test="analysis != null">#{analysis},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateJjqPlantClassification" parameterType="JjqPlantClassification">
        update jjq_plant_classification
        <trim prefix="SET" suffixOverrides=",">
            <if test="garbageType != null">garbage_type = #{garbageType},</if>
            <if test="garbageName != null">garbage_name = #{garbageName},</if>
            <if test="analysis != null">analysis = #{analysis},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where question_id = #{questionId}
    </update>

    <delete id="deleteJjqPlantClassificationByQuestionId" parameterType="Long">
        delete from jjq_plant_classification where question_id = #{questionId}
    </delete>

    <delete id="deleteJjqPlantClassificationByQuestionIds" parameterType="String">
        delete from jjq_plant_classification where question_id in 
        <foreach item="questionId" collection="array" open="(" separator="," close=")">
            #{questionId}
        </foreach>
    </delete>
</mapper>